/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.block-header {
    min-height: 80px;
    background-color: #255EE9;
    padding: 20px;
}


/* Header */
.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.fa-brands {
    color: white;
    font-size: 30px;
    margin: 5px;
}

.left-nav {
    flex-basis: 20%;
    min-height: 40px;
    background-color: #255EE9;
    color: white;
    display: flex;
    align-items: center;
}
  
.mid-nav {
    flex-basis: 60%;
    min-height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-color: #255EE9;
}
  
.link-nav {
    cursor: pointer;
    font-size: 16px;
}

.right-nav {
    flex-basis: 20%;
    min-height: 40px;
    display: flex;
    justify-content: flex-end;
    background-color: #255EE9;
}

button {
    height: 40px;
    border-radius: 20px;
    font-size: 15px;
    padding: 12px;
    cursor: pointer;
    border: none;
}

.head-container {
    background-image: url(/img/jumbo.png); 
    background-size: cover;
    background-position: center;  
    min-height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box-fucsia {
    flex-basis: 900px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 60px;
    display: flex;
    color: white;
}

.paragraph-header{
    font-size: 20px;
    text-align: center;
    padding: 40px;
    color: white;
    line-height: 2rem;
}

.button-download.browser-discord {
    background-color: #23272A;
    color: white;
}

.button-download {
    font-size: 18px;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px;
}

.button-gap {
    display: flex;
    gap: 25px;
}


/* Main */
.white-main {
    background-color: #FFFFFF;
    min-height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.grey-main {
    background-color: #E5E5E5;
    min-height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.triple-block {
    width: 1200px;
    display: flex;
}

.blue-box {
    flex-basis: 60%;
    min-height: 500px;
    background-color: white;
    display: flex;
}
    
.blue-box-middle {
    flex-basis: 60%;
    min-height: 500px;
    background-color: #E5E5E5;
    display: flex;
}

.lightpink-box {
    flex-basis: 40%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 22px;
}
  
h2 {
    font-size: 50px;
    color: #23272A;
}

.paragraph {
    font-size: 20px;
}

.paragraph-main-1 {
    font-size: 20px;
    margin-right: 15px;
    line-height: 30px;
}

.paragraph-main-2 {
    font-size: 20px;
    margin-left: 30px;
    line-height: 30px;
}

.wave {
    height: 100px;
    background-image: url(/img/wave.svg);
    opacity: calc(0.1);
}

.wave.transform {
    transform: rotate(180deg);
}

.grey-main-2 {
    background-color: #E5E5E5;
    min-height: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.green-block {
    flex-basis: 1200px;
    min-height: 900px;
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    gap: 22px;
    margin-bottom: 80px;
}

.green-block, h2 {
    text-align: center;
    padding-top: 40px;
}

h3 {
    font-size: 32px;
}

.button-download.aside {
background-color: #8EA1E1;
color: white;
}

.stars-background {
    background-image: url(/img/stars.svg);
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 600px;}

/* Footer */
.five-block{
    width: 1200px;
    display: flex;
    margin-top: 60px;
}

.black-block-1 {
    background-color: #23272A;
    min-height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pink-block {
    flex-basis: 40%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.title-footer {
    font-size: 35px;
    color: #7289DA;
}

.italian-flag {
    height: 18px;
}

.italian-nation {
    color: white;
    cursor: pointer;
}

.icons {
    font-size: smaller ;
    cursor: pointer;
}

.lightgreen-block {
    flex-basis: 15%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
}

h4 {
    font-size: 20px;
    color: #7087D7;
}

li {
    color: white;
    font-size: 17px;
    cursor: pointer;
    list-style-type: none;
    padding: 8px 0;
}


.grey-line {
    border: 1px solid #D3D3D3;
}

.black-block-2 {
    background-color: #23272A;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.aside-block{
    min-height: 70px;
    width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo-block {
    min-height: 30px;
    width: 60px;
    display: flex;
}

.button-signin {
    background-color: #8EA1E1;
    color: white;
    width: 80px;
    padding: 10px;
}